body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1141px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 27px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 93px;
}
.header-logo {
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(../icons/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 54px;
    list-style: none;
    padding-left: 0;
}
.header-nav a {
    color: #2B3541;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.header-nav a::after {
    display: block;
    content: '';
    position: absolute;
    height: 1px;
    width: 0%;
    left: 50%;
    background: transparent;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}
.header-nav a:hover::after {
    width: 100%;
    background: #2B3541;
}
.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.instagram-logo {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../icons/IN.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: .3s;
    opacity: 0.8;
}
.instagram-logo:hover {
    transform: scale(1.27);
}
.facebook-logo {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../icons/FB.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: .3s;
    opacity: 0.8;
}
.facebook-logo:hover {
    transform: scale(1.27);
}
.banner {
    font-family: 'Montserrat', sans-serif;
}
.banner-box {
    color: #2B3541;
    width: 676px;
    height: 385px;
    text-align: left;
    margin-top: 242px;
    margin-bottom: 399px;
    margin-left: 1px;
}
.banner-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 44px;
}
.banner-subtitle {
    font-weight: 400;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 23px;
}
.banner-subtitle span {
    padding-left: 10px;
}
.banner-box p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    max-width: 297px;
    margin-top: 0;
    margin-left: 92px;
    margin-bottom: 54px;
}
.banner-link {
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    color: #2B3541;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.4pt;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-left: 91px;
    margin-bottom: 50px;
    padding: 20px 30px;
    transition: 0.3s;
}
.banner-link:hover {
    background-color: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    color: #FBF138;
}
.banner-btn-scroll {
    display: block;
    background-image: url(../icons/Arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 52px;
    height: 55px;
    cursor: pointer;
    transition: .3s;
    margin-top: 203px;
}
.banner-bg {
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 790px;
    gap: 20px;
    top: 0;
    left: 107px;
    z-index: -1;
}
.banner-bg img {
    position: absolute;
    width: 986px;
    height: 810px;
    top: 159px;
    margin-left: 326px;
}
.banner-bg-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
    width: 535px;
    height: 850px;
}
.banner-bg-right {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: 0.2;
    flex-basis: 30%;
    width: 235px;
    height: 100%;
}
.event {}
.event-box {}
.event-title {
    color: #2B3541;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}
.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    margin-bottom: 100px;
}
.event-grid_item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 367px;
    height: 600px;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
}
.event-grid_item1 {
    background-image: url(../files/@1x/maraphon.png);
}
.event-grid_item2 {
    background-image: url(../files/@1x/Vebinar\ 1.png);
}
.event-grid_item3 {
    background-image: url(../files/@1x/Vebinar\ 2.png);
}
.event-grid_title {
    color: #2B3541;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}
.event-grid_price {
    color: #979797;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0 20px;
}
.event-grid_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #FBB731;
    border: none;
    border-radius: 5px;
    padding: 10px 32px;
}
.timetable {
    width: 1143px;
    height: 841px;
    margin-bottom: 160px;
}
.timetable-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timetable-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 366px 367px;
    gap: 20px;
}
.timetable-grid-box {
    border: 1px solid#2B3541;
    display: flex;
    align-items: center;
    justify-content: space-between;
}